<div class= "row huddles_framing panel">
  <div class=" small-12 large-6 large-centered columns center_text">
    <h2>Register for Huddle Up</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div>
      <%= f.email_field :email, :autofocus => true, placeholder: "Email" %></div>

      <div>
      <%= f.text_field :username, placeholder: "Username" %></div>

      <div>
      <%= f.password_field :password, placeholder: "Password" %></div>

      <div>
      <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %></div>

      <div>
      <%= f.text_field :city, placeholder: "Your city" %></div>

    <div class = "row registration_skill">
      <p class="skill_form"> Choose your skill level: </p>
      <div class= "small-6 large-3 columns">
          <%= radio_button_tag(:skill, "Beginner") %>
          <%= label_tag(:skill_Beginner, "Beginner") %>
      </div>
      <div class= "small-6 large-3 columns">
        <%= radio_button_tag(:skill, "Average") %>
        <%= label_tag(:skill_Average, "Average") %>
      </div>
      <div class= "small-6 large-3 columns">
        <%= radio_button_tag(:skill, "Casual") %>
        <%= label_tag(:skill_Casual, "Casual") %>
      </div>
      <div class= "small-6 large-3 columns">
        <%= radio_button_tag(:skill, "Advanced") %>
        <%= label_tag(:skill_Advanced, "Advanced") %>
      </div>
    </div>


    <div><%= f.submit "Sign up", class: "trigger button radius" %></div>
    <% end %>
    <p> Already Registered? : </p>
    <%= render "devise/shared/links"%>
  </div>
</div>

