<div class="row">
  <div class="small-12 large-6 large-centered columns">


    <%= form_for(User.new, :url => user_session_path) do |f| %>
      <div>
        <%= f.email_field :email, :autofocus => true, placeholder: "Email", class: "sign_in_form" %>
      </div>

      <div>
        <%= f.password_field :password, placeholder: "Password", class: "sign_in_form password" %>
      </div>

      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>


      <div class="row">
        <p class="alt_sign_in small-12 large-12 columns "><em>Or sign in with: Facebook</em><a href="#"><img src="http://idmil.org/_media/logos/facebook_icon_2011.png" alt="facebook" width="32" height="32"></a><em>or Twitter</em><a class = "twitter" href="#"><%= image_tag("twitter-bird-light-bgs.png", :size => "45x28", :alt => "Twitter") %></a></p>
      </div>
      <div><%= f.submit "Sign in", class: "button radius" %></div>


    <% end %>


    <div class="small-12 large-centered columns center_text">
      <p>Don't have an account?</p><%= link_to 'Register Here', new_user_registration_path, class: "button small radius" %>
    </div>
  <div>
</div>


