<%= form_for @huddle do |f| %>

  <div class="field">
    <%= f.label :size_of_huddle, 'Desired Size of the Huddle' %><br />
    <%= f.text_field :size_of_huddle %>
  </div>

  <div >
    <%= f.radio_button :skill_level, "Beginner", id:"Beginner" %>
    <%= f.label :skill_level_Beginner, "Beginner" %>
    <%= f.radio_button :skill_level, "Average", id:"Average" %>
    <%= f.label :skill_level_Average, "Average" %>
    <%= f.radio_button :skill_level, "Casual", id:"Casual" %>
    <%= f.label :skill_level, "Casual" %>
    <%= f.radio_button :skill_level, "Advanced", id:"Advanced" %>
    <%= f.label :skill_level_Advanced, "Advanced" %>
  </div><br>

  <div class="field">
    <%= f.label :court, 'Where do you want to play(court name)?' %><br />
    <%= f.text_field :court %>
  </div>
  <div class="actions">
    <%= f.submit 'Create Huddle' %>
  </div>

<% end %>