<h1>Open Huddles. Get in there!</h1>

<%= link_to "Create a new Huddle!", new_huddle_path %>

<%- @huddles.each do |huddle| -%>
  <%- user = User.where(id: huddle.user_id).last -%>

  <%- if user.username != nil -%>
    <h3><%= "Creator: " %></h3><p><%= user.username %></p>
  <%- else -%>
    <h3><%= "Creator: " %></h3><p><%= user.email %></p>
  <%- end -%>

  <%= link_to "Explore this Huddle", huddle, method: :get %>
<%- end -%>
