
<div class= "row">
  <div class= "small-12 large-centered columns panel huddles_framing">
    <h1>Open Huddles. Get in there!</h1>
    <%= link_to "Create a new Huddle!", new_huddle_path, class: "button radius " %>

      <%- @huddles.each do |huddle| -%>
        <div class= "small-12 large-centered columns huddles">
          <%- creator = User.where(id: huddle.creator).last -%>
          <%- num_in_huddle = HuddleUser.where(huddle_id: huddle.id).count -%>

          <%- if huddle.size_of_huddle == num_in_huddle.to_s -%>
            <p> This Huddle is full </p>
          <%- end -%>

          <%- if creator.username != nil -%>
            <h4><%= "Captain: " %></h4><p><%= creator.username %></p>
          <%- else -%>
            <h4><%= "Captain: " %></h4><p><%= creator.email %></p>
          <%- end -%>

          <%= link_to "Explore this Huddle", huddle, method: :get, class: "button small radius" %>
        </div>
      <%- end -%>
  </div>
</div>

