<div class="row">
  <div class="small-12 large-12 columns huddles_framing panel">
    <%= link_to "Create a new Huddle!", new_huddle_path, class: "button radius " %>

    <%-if User.user_signed_in?(current_user) %>
      <%- currently_in = Huddle.current_users_huddle_finder(current_user) %>
      <%- if currently_in != [] %>
        <h5> Huddles your currently In</h5>
        <div>
          <%- currently_in.each do |huddle| %>
              <div class="small-12 large-3 columns huddles_framing my_huddles">
                <strong class="marginalizer">Location:</strong><p class="marginalizer loc_height"><%=link_to "#{huddle.location.court_name}", huddle.location, class: "link" %></p>
                <strong class="marginalizer">Date and Time:</strong>
                <p class="marginalizer"><%= huddle.time_and_date.strftime("%a %b %-d, %Y %-l:%M%P") %></p>
                <%if huddle.huddle_full? %>
                  <p>This Huddle is full</p>
                <% end %>
                <div class="row">
                <%= link_to "Explore this Huddle", huddle, method: :get, class: "button small radius center_text" %>
                </div>
              </div>
          <%- end %>
          <% if currently_in.count < 3 %>
            <div class="large-6 columns">
              <%= image_tag "Basketball-Ball-icon.png", {height: 45} %>
            </div>
          <% elsif currently_in.count < 4 %>
            <div class="large-3 columns">
              <%= image_tag "Basketball-Ball-icon.png", {height: 45} %>
            </div>
          <%-end-%>
        </div>
      <%-else-%>
        <h5> Your not in any Huddles right now!</h5>
      <%- end -%>
    <%-end-%>
  </div>
</div>

<div class="row">
    <h2 class="center_text">Huddling...</h2>
    <%- @huddles.each do |huddle| -%>
        <div class="small-12 large-4 columns all_huddles_framing huddles center_text">
          <strong class="marginalizer">Location</strong><p class="marginalizer"><%=link_to "#{huddle.location.court_name}", huddle.location, class: "link" %></p>
          <%- if huddle.huddle_full? -%>
            <strong> This Huddle is full </strong>
          <%- end -%>
          <strong class="marginalizer">Date and Time</strong>
          <p class="marginalizer"><%= huddle.time_and_date.strftime("%a %b %-d, %Y %-l:%M%P") %></p>
          <%= link_to "Explore this Huddle", huddle, method: :get, class: "button small radius" %>
        </div>
    <%- end -%>
</div>


