<div class= "row">
  <div class= "small-12 large-12 columns panel huddles_framing">
    <%= link_to "Create a new Huddle!", new_huddle_path, class: "button radius " %>
    <div class= "row">
      <div class="small-12 large-12 large-centered columns">
        <%-if current_user != nil %>
          <%- currently_in = Huddle.current_users_huddle_finder(current_user) %>
          <%- if currently_in != [] %>
            <p> Huddles Your Currently In</p>
            <%- currently_in.each do |huddle| %>
              <div class="small-12 large-3 columns framing left_align hover-focus">
                <%- creator = User.where(id: huddle.creator).last -%>
                <p>City:</p><%= huddle.location.city %>
                <p>Court:</p><%= huddle.location.court_name %>
                <%-creator = User.where(id: huddle.creator).first-%>
                  <%- if creator.username != nil -%>
                    <p> Team captain: </p><%= creator.username %>
                  <%- else -%>
                    <p>Team captain: </p><%= creator.email %>
                  <%- end -%>
                <%= link_to "Explore this Huddle", huddle, method: :get, class: "button small radius center_text" %>
              </div>
            <%- end %>
          <%- end -%>
        <%-end%>
      </div>
    </div>
    <div class="row">
      <h2>Open Huddles. Get in there!</h2>
      <%- @huddles.each do |huddle| -%>
        <div class= "small-12 large-8 large-centered columns huddles left_align">
          <%- num_in_huddle = HuddleUser.where(huddle_id: huddle.id).count -%>
          <%- creator = User.where(id: huddle.creator).last -%>
          <%- if huddle.size_of_huddle == num_in_huddle.to_s -%>
            <p> This Huddle is full </p>
          <%- end -%>

          <%- if creator.username != nil -%>

            <div class="small-6 large-6 columns">
              <p><%= "Team captain: " %></p>
            </div>
            <div class="small-6 large-6 columns">
              <p><%= creator.username %></p>
            <%- else -%>
              <p><%= "Team captain: " %>
              <p><%= creator.email %></p>
            </div>
          <%- end -%>

          <%= link_to "Explore this Huddle", huddle, method: :get, class: "button small radius" %>
        </div>
      <%- end -%>
    </div>
  </div>
</div>

