<div class="row">
  <div class= "small-12 large-8 columns">
    <div class = " small-12 large-12 large-centered columns panel huddles_framing">


      <h1>Huddle Details</h1>

      <p>This game is being played at:</p>
      <%= binding.pry %>
      <%=link_to "#{@huddle.location.court_name}", @huddle.location %>

      <div class="row">
          <p>Skill Level</p>
          <%= @huddle.skill_level %>
      </div>

      <div class="row ">
          <%- num_of_ballers = HuddleUser.where(huddle_id: @huddle.id).count -%>
          <div class="small-12 large-4 columns">
            <%= num_of_ballers %>
          </div>
          <div class="small-12 large-4 columns">
            <p>of</p>
          </div>
          <div class="small-12 large-4 columns">
            <%= @huddle.size_of_huddle %>
          </div>
      </div>
      <div class="row">
        <p>desired players waiting</p>
      </div>

      <div id="member_display">
        <p>Members in Huddle:</p>
        <ul class="members-list">
          <%- @huddle.users.each do |user| %>
            <li><%= user.email %></li>
          <%-end-%>
        </ul>
      </div>

      <div class= "row">
        <%- if @huddle.size_of_huddle == num_of_ballers.to_s -%>
          <p> This Huddle is full. </p><%= link_to 'Check out different Huddles?', huddles_path, class: "button radius" %>
        <%- else -%>
          <%= form_for @huddle do |f| %>
            <div class="actions">
              <%= f.submit 'Join This Huddle!', class: "button radius" %>
            </div>
          <% end %>
        <%- end -%>
      </div>


    </div>
  </div>
</div>

<script>
  window.huddleId = <%= @huddle.id %>;
</script>
