
<h4>Locations</h4>
<%- @locations.each do |location| -%>
  <div class="row panel huddles_framing">
    <div class= "small-12 large-6 columns left_align">
      <p>
        <strong>Court Name:</strong></br>
        <%= location.court_name %>
      </p>

      <p>
        <strong>City:</strong>
        <%= location.city %>
      </p>
      <p>
        <strong>State:</strong>
        <%= location.state %>
      </p>

      <!-- google maps location details -->
      <!-- Like the red baloons  -->
      <!-- Add Court Descriptions  -->
    </div>
    <div class="small-12 large-6 columns right_align">
      <%= image_tag "http://maps.google.com/maps/api/staticmap?size=400x250&sensor=false&zoom=14&markers=#{location.latitude}%2C#{location.longitude}" %>
    </div>
    <div class="row">
      <p>
        <%= link_to "More Info about #{location.court_name}", location, method: :get, class: "link" %>
      </p>
    </div>
  </div>
<%- end -%>

