
<div class="row">
  <div class=" small-12 large-8 columns panel huddles_framing">
    <%= Location %>
      <p>
        <strong>Address</strong>
        <%= @location.street %><%= @location.city %><%= @location.state %><%= @location.postal %>
      </p>
      <p>
        <strong>Court Name</strong>
        <%= @location.court_name %>
      </p>
    <h5>Nearby locations</h5>
      <% binding.pry %>
      <% @location.nearbys(20).each do |location| %>
        <p><%= link_to location.court_name, location %> (<%= location.distance.round(2) %> miles)</p>
      <% end %>

  </div>
</div>
